body {
    background-color: rgb(255, 222, 222);
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    font-family: bubble;
    color: rgb(231, 130, 197);
    font-size: 50px;
    text-align: center;
}

.white {
    color:  rgb(255, 230, 238);
}

h2 {
    color: rgb(34, 27, 100);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: rgb(255, 230, 238);
    font-family: bubble;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.sky {
    height: 190px;
    background-image: url(sky.gif);
    background-size: cover;
    border: solid rgb(255, 222, 222) 1px;
    border-radius: 32px;
} 

.leftimage {
    float: left;
}

.brown {
    color: rgb(158, 69, 42);
}

.rightimage { 
    float: right;
}

.mg2 {
    color: rgb(255, 228, 233);
}

.box {
    background-color: rgb(163, 89, 71);
    border: 5px outset rgb(119, 11, 11);
    width: 500px;
    height: 330px;
    padding: 10px;
    padding-top: 20px;
    position: absolute; 
    right: 5px;

}

.box2 {
    background-color: rgb(255, 241, 244);
    width: 700px;
    height: 160px;
    padding: 10px;
    padding-top: 20px;
    border: 10px dotted rgb(7, 65, 255);
}

.box3 {
    background-color: rgb(201, 233, 178);
    width: 700px;
    height: 160px;
    padding: 10px;
    padding-top: 20px;
    border: 10px outset rgb(255, 243, 235);
    border-radius: 12px;
}

.box4 {
    height: 80px;
    background-color: white;
}

.box5 {
    position: absolute;
    left: 40px;
}

.box6 { 
    height: 150px;
    width: 900px;
    background-color: rgb(255, 241, 244);
    position: absolute;
    right: 10px;
    border: dotted rgb(0, 26, 255) 10px;
}

.big {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: rgb(22, 19, 16);
}

.box7 {
    width: 500px;
    height: 250px;
    padding: 10px;
    padding-top: 20px;
    background-color: rgb(180, 228, 255);
    border: 5px dotted rgb(255, 255, 255);
}

.box8 { 
    width: 700px;
    height: 200px;
    background-image: url(fon.gif);
    background-size: auto;
    border: 9px solid rgb(0, 224, 231);
    position: absolute; 
    right: 5px;
}

.hart{
    color: rgb(19, 7, 36);
}

@font-face {
    font-family: bubble;
    src: url(fat.ttf);
}

@font-face {
    font-family: big;
    src: url(sili.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 244, 243)
  }


.radial-text-gradient {
    background: radial-gradient(circle, rgb(0, 0, 0), rgb(34, 27, 100));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.purple {
    color: rgb(78, 24, 83);
}

.rightbox {
    position: absolute;
    right: 50px;
}